.conference-container {
    color: var(--dump-white);
    overflow: hidden;
}

.conference-container h1 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 800;
}

.conference-container h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 800;
}

.conference-container  p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    opacity: 80%;
}

.conference-box {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.conference-overview-container {
    margin: 1em 0 4em 0;
    padding: 1.5em;
}

.conference-image {
    position: relative;
    width: 100%;
    height: 250px;
}

.conference-image img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    animation: fade 10s infinite;
}

.conference-image img:nth-child(2) {
    animation-delay: 5s;
}

@keyframes fade {
    0%, 45% { opacity: 1; }
    50%, 95% { opacity: 0; }
}

.conference-details-container {
    gap: 4em;
    padding: 1.5em;
}

.conference-details {
    gap: 2.5em;
}

.conference-program-image {
    display: block;
    width: 100%;
    height: 392px;
    object-fit: cover;
    border-radius: 50px;
}

.conference-program-container {
    gap: 2em;
    padding: 1em;
}

.conference-program {
    position: relative;
    margin: 0 0 0 1em;
    align-items: flex-start;

    opacity: 0;

    animation-name: appear;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.conference-program-left {
    transform: translateX(-100vw);
}

.conference-program-right {
    transform: translateX(100vw);
}

@keyframes appear {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.conference-program h2, .conference-program p {
    z-index: 2;
    background-color: transparent;
}

.conference-program-icon {
    position: absolute;
    top: -7.5%;
    left: -7.5%;
    z-index: 1;
    width: 40px;
    height: auto;
}

.conference-preview-container {
    padding: 2em;
    gap: 2.5em;
}

.conference-preview {
    padding: 1em;
}

.conference-live-now-container {
    display: none;
}

@media (min-width: 1440px) {
    .conference-overview-container {
        padding: 0 16rem;
        gap: 1rem;
    }

    .conference-image {
        width: 760px;
        height: 480px;

        margin-right: auto;
        margin-left: 0;
    }

    .conference-overview-container h1, .conference-overview-container p {
        margin-right: 0;
        margin-left: auto;
        
        width: 60%;
    }

    .conference-overview-container h1 {
        margin-top: 2rem;

        font-size: 48px;
        line-height: 58px;
    }

    .conference-details-container {
        gap: 8rem;
        margin-top: 8rem;
    }

    .conference-details {
        flex-direction: row;
        height: 605px;
        justify-content: center;
        gap: 12rem;
    }

    .conference-details-1 {
        flex-direction: row-reverse;
    }

    .conference-program-image {
        width: 505px;
        height: 605px;
    }

    .conference-program-container {
        width: 25%;
        height: 100%;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
    
    .conference-program-icon {
        top: -20%;
        left: 0%;

        width: 64px;
        height: 64px;
    }

    .conference-program h2 {
        font-size: 32px;
        line-height: 38px;

        margin: 0 2rem;
    }

    .conference-program p {
        font-size: 16px;
        line-height: 24px;

        margin: 0 2rem;
    }

    .conference-preview-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "preview preview"
            "left-box right-box";

        gap: 6rem 20rem;
        padding: 8rem 12rem;
    }

    .conference-preview {
        grid-area: preview;
        margin: 0 1rem;

        align-items: flex-start;
        width: 50%;
    }

    .conference-preview h1 {
        font-size: 48px;
        line-height: 58px;
    }

    .conference-preview p {
        font-size: 16px;
        line-height: 24px;
    }

    .conference-preview-left { 
        grid-area: left-box; 
        transform: translateX(-100vw);
    }

    .conference-preview-right { 
        grid-area: right-box;
        transform: translateX(100vw);
    }

    .conference-preview-container .conference-program {
        padding: 0;
        margin: 0;
    }

    .conference-live-now-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        margin: 4rem 14rem;
        padding: 4rem;
        border-radius: 40px;
        background-color: rgba(255, 255, 255, 0.05);
    }

    .conference-live-now-container * {
        background-color: transparent;
    }

    .conference-live-now-image {
        width: 256px;
        height: 256px;
        aspect-ratio: 1 / 1;
        border-radius: 26px;
        object-fit: cover;
        object-position: top;
    }

    .conference-live-now-infomation-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        height: 256px;
    }

    .conference-live-now-infomation-container h1 {
        font-size: 32px;
        line-height: 38px;
        font-weight: 600;
    }

    .conference-live-now-signature {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        justify-content: space-between;
        width: 100%;
        margin: 2rem 0;
    }

    .conference-lecturer-information .conference-lecturer-name {
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
    }

    .conference-lecturer-information .conference-lecturer-job {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    .conference-live-now-signature hr {
        margin-left: 8rem;
        border-color: rgba(255, 255, 255, 0.27);
    }

    .conference-watch-now-button {
        cursor: pointer;
        padding: 12px 32px 12px 32px;
        border-radius: 15px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        background-color: var(--dump-cyan);
        color: var(--dump-dark);
        border-color: transparent;
    }
}