header {
    position: relative;
    height: 100vh;
    background-color: var(--dump-dark);
    z-index: 0;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 49%;
    background-image: 
        linear-gradient(to bottom, #0A181BAA 0%, #0A181BFF 100%),
        url("/assets/images/header/6ded6dd0ba4a7a29342c3325bfd2af9a7c099506.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    transition: opacity 0.5s ease 0.2s;
    z-index: -1;
}

.header-typewriter-container {
    position: absolute;
    top: 50%;
    color: var(--dump-white);
    padding: 1em;
    z-index: 0;
    opacity: 90%;
}

.header-typewriter-container p {
    font-size: 16px;
    font-weight: lighter;

    margin-top: 2em;
    margin-bottom: 1.5em;
    
    opacity: 80%;
}

.header-typewriter-container .header-typewriter-content {
    font-size: 40px;
}

.header-typewriter-container .header-typewriter-content ol {
    list-style: none;

    height: 48px;
    line-height: 48px;

    padding: 0;
    margin: 0;

    overflow: hidden;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.header-typewriter-container .header-typewriter-content ol li {
    animation: slide calc(5*5*2s) steps(5) infinite;
}

.header-typewriter-container .header-typewriter-content ol li span {
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    background: var(--dump-cyan);
    -webkit-background-clip: text;

    white-space: nowrap;

    border-right: 0.4rem solid var(--dump-cyan);
    
    box-sizing: border-box;
    display: inline-block;
    width: 0%;

    padding: 0;
    margin: 0;    
}

.header-typewriter-content ol li:nth-child(1) span {
    animation: cursor 1s step-end infinite, typing 5s steps(20) infinite alternate;
}

.header-typewriter-content ol li:nth-child(2) span {
    animation: cursor 1s step-end infinite, typing 5s steps(18) infinite alternate;
}

.header-typewriter-content ol li:nth-child(3) span {
    animation: cursor 1s step-end infinite, typing 5s steps(24) infinite alternate;
}

.header-typewriter-content ol li:nth-child(4) span {
    animation: cursor 1s step-end infinite, typing 5s steps(22) infinite alternate;
}

.header-typewriter-content ol li:nth-child(5) span {
    animation: cursor 1s step-end infinite, typing 5s steps(20) infinite alternate;
}

.header-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

@keyframes slide {
    100% {
        transform: translateY(-500%);
    }
}

@keyframes cursor {
    50% { border-color: var(--dump-dark); }
}

@keyframes typing {
    50% {
        width: 0%;
    }

    50%, 100% {
        width: 101%;
    }
}

.header-button {
    cursor: pointer;
    padding: 12px 32px 12px 32px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.header-signin-button {
    background-color: var(--dump-cyan);
    color: var(--dump-dark);
    border-color: transparent;
}

.header-join-button {
    display: none;
    background-color: transparent;
    color: var(--dump-white);
    border-color: var(--dump-white);
}

.live-now-container {
    display: none;
}

@media (min-width: 1440px) {
    header::before {
        height: 100%;
        background-image: 
            linear-gradient(to bottom, #0A181BAA 0%, #0A181BFF 100%),
            url("/assets/images/header/6ded6dd0ba4a7a29342c3325bfd2af9a7c099506.png");
    }

    .header-typewriter-container {
        position: absolute;
        top: 20%;
        padding: 2rem 10rem 2rem 10rem;
    }

    .header-typewriter-container, .header-typewriter-container * {
        background-color: transparent;
    }

    .header-typewriter-content {
        font-size: 64px;
    }

    .header-typewriter-content ol {
        height: 80px;
        line-height: 80px;
    }

    .header-typewriter-container p {
        font-size: 20px;
        line-height: 30px;

        margin-top: 1em;
        margin-bottom: 0.75em;
    }

    .header-signin-button {
        background-color: var(--dump-cyan);
    }

    .header-join-button {
        display: flex;
    }

    .header-live-now-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 0 2rem;
        margin-top: 4em;
        padding: 1rem 2rem;
        border-radius: 27px;

        background-color: rgba(255, 255, 255, 0.05)
    }

    .live-now-lecturer-avatar {
        grid-column: 1;
        grid-row: 1 / span 2;

        margin: auto;
        width: 56px;
        aspect-ratio: 1 / 1;
        border-radius: 40px;
    }

    .live-now-title-container {
        grid-column: 2;
        grid-row: 1;

        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;
        margin: 0;

        font-size: 20px;
        line-height: 30px;
        font-weight: 800;
    }

    .live-now-signature {
        grid-column: 2;
        grid-row: 2;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        font-size: 16px;
        line-height: 26px;
        font-weight: 400;

        margin: 0;
    }

    .live-now-signature span {
        font-weight: 600;
    }

    .watch-now-button {
        grid-column: 3;
        grid-row: 1 / span 2;

        cursor: pointer;
        padding: 12px 32px 12px 32px;
        margin: auto;
        height: fit-content;
        border-radius: 15px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;

        background-color: transparent;
        color: var(--dump-white);
        border-color: var(--dump-white);
    }
}