.navigation-bar-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: fit-content;
    z-index: 1;
    background-color: transparent;
}

#hamburger-menu-checkbox {
    display: none;
}

.navigation-bar {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    z-index: 1;
    padding: 2em;
}

.dump-logo-link {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
}

.dump-logo {
    background-color: transparent;
}

.hamburger-menu {
    display: block;
    cursor: pointer;
    position: relative;
    width: 32px;
    height: 32px;
    color: var(--dump-white);
    background-color: transparent;
}

.hamburger-menu::before {
    position: absolute;
    content: "menu";
    font-family: var(--dump-icon-font);
    top: 0;
    left: 0;
    font-size: 32px;
}

.navigation-items-container {
    position: absolute;
    top: 80px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    transform: translateY(-100vh);
    transition: transform 0.5s ease-in-out;
}

.navigation-item {
    font-size: 18px;
    font-weight: bold;
}

.navigation-item-registration {
    color: var(--dump-cyan);
}

.navigation-item-signin {
    background-color: var(--dump-cyan);
    color: var(--dump-dark);
    padding: 12px 32px 12px 32px;
    border-radius: 15px;
}

#hamburger-menu-checkbox:checked ~ .navigation-bar .hamburger-menu::before {
    content: "close";
}

#hamburger-menu-checkbox:checked ~ .navigation-items-container {
    transform: translateY(0);
}

body:has(#hamburger-menu-checkbox:checked) {
    overflow: hidden;
}

header:has(#hamburger-menu-checkbox:checked)::before {
    opacity: 0;
}