.app-info__title{
    margin-bottom: 60px;
    font-size: 2rem;
    color: var(--dump-white);
    text-align: center;
}

.app-info__main-img{
    width: 100%;
    transform: scale(0.9);
}

.app-info__perk{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: clamp(280px, 35%, 1200px);
    margin: auto;
}

.app-info__perk-content{
    position: relative;
    z-index:0;
    background-color: transparent;  
}

.perk-text {
    display: flex; 
    flex-direction: column;
    align-items: baseline; 
    background-color: transparent; 
}

.perk-text > *{
    background-color: inherit;
}

.app-info__perk-title{
    margin-bottom: .5rem;
    font-size: 1.5rem;
    color: var(--dump-white);
    text-align: center;
}

.app-info__perk-description{
    color: var(--paragraph-transparent);
    line-height: 1.5rem;
    text-align:left;
}
.app-info__perk img{
    position: absolute;
    top: -16px;
    left: -24px;
    z-index:-1;
}

.app-info__button{
    padding: 12px 2rem 10px;
    border-radius: 10px;
    border-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--dump-cyan);
}

@media (min-width:769px){

    .app-info-wrapper{
        display: flex;
        padding: 6.25rem 10rem 0 10rem;
        align-items: flex-start;
    }

    .app-info__perk{
        flex: 1;  
        order: -1;
        margin: 0;
    }

    .app-info__main-img{
        flex: 0 0 70%;
        margin-left: auto;  
    }
}


