.gallery-section{
    overflow: hidden;
    padding-bottom: 100px;
}

.gallery-container{
    display: flex;
    width: 550vw;
    padding-bottom: 100px;
    margin-top: -50px;
    cursor: grab;
    animation: gallerySlide 30s linear infinite;
}

.gallery-section h1{
    margin: 140px auto 140px;
    text-align: center;
    color: white;
}

.year-terminator{
    margin-bottom: -75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.terminator{
    position: relative;
    width: 2px;
    height: 100%;
    background-image: linear-gradient(180deg,#fff 50%,transparent 0);
    background-size: 2px 24px;
}

.year-terminator a{
    font-size: 24px;
    color: var(--dump-cyan);
    font-weight: 600;
    text-decoration: underline;
    transform: translate(100%,4px);
    transition: color 0.3s ease;
}

.year-terminator a:hover{
    color: #3be1d4;
}

.terminator::after{
    content: "";
    position: absolute;
    bottom: -5%;
    right: -8px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: #fff;
}

.gallery-grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr .3fr 1fr 1fr .3fr 1fr;
    gap: 48px 26px;
}


.gallery-grid img,
.gallery-grid__info {
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
    overflow: hidden; 
}

.gallery-grid__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    color: white;
    background-color: hsla(0,0%,100%,.03);
}

.gallery-grid__info span{
    display: block;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    font-weight: 700;
    background-color: transparent;
}

.gallery-grid__info span:nth-child(2){
    max-width: 80%;
    margin: 0 auto;
}

.grid-19{
    grid-template-areas: 
    "img19-1 img19-2 img19-2 img19-3 img19-3 info19-1"
    "img19-4 img19-4 info19-2 img19-5 img19-6 img19-6";
}

.block-square{
    height: 100%;
}

.block-4-3{
    aspect-ratio: 4/3;
}

.img19-1{
    grid-area: img19-1;
}

.img19-2{
    grid-area: img19-2;
}

.img19-3{
    grid-area: img19-3;
}

.img19-4{
    grid-area: img19-4;
}

.img19-5{
    grid-area: img19-5;
}

.img19-6{
    grid-area: img19-6;
}

.info19-1{
    grid-area: info19-1;
}

.info19-2{
    grid-area: info19-2;
}

.grid-18{
    grid-template-areas: 
    "info18-1 img18-1 img18-1 img18-2 img18-2 img18-3" 
    "img18-4 img18-4 img18-5 info18-2 img18-6 img18-6";
}


.info18-1{
    grid-area: info18-1;
}

.info18-2{
    grid-area: info18-2;
}

.img18-1{
    grid-area: img18-1;
}

.img18-2{
    grid-area: img18-2;
}

.img18-3{
    grid-area: img18-3;
}

.img18-4{
    grid-area: img18-4;
}

.img18-5{
    grid-area: img18-5;
}

.img18-6{
    grid-area: img18-6;
}

.grid-17{
    grid-template-areas: 
    "img17-1 img17-2 img17-2  img17-3 img17-3 info17-1" 
    "img17-4 img17-4 info17-2 img17-5 img17-6 img17-6 "
}

.info17-1{
    grid-area: info17-1;
}

.info17-2{
    grid-area: info17-2;
}

.img17-1{
    grid-area: img17-1;
}

.img17-2{
    grid-area: img17-2;
}

.img17-3{
    grid-area: img17-3;
}

.img17-4{
    grid-area: img17-4;
}

.img17-5{
    grid-area: img17-5;
}

.img17-6{
    grid-area: img17-6;
}

.grid-16{
    grid-template-areas: 
    "info16-1 img16-1 img16-1 img16-2 img16-2 img16-3" 
    "img16-4 img16-4 img16-5 info16-2 img16-6 img16-6";
}

.info16-1{
    grid-area: info16-1;
}

.info16-2{
    grid-area: info16-2;
}

.img16-1{
    grid-area: img16-1;
}

.img16-2{
    grid-area: img16-2;
}

.img16-3{
    grid-area: img16-3;
}

.img16-4{
    grid-area: img16-4;
}

.img16-5{
    grid-area: img16-5;
}

.img16-6{
    grid-area: img16-6;
}

@keyframes gallerySlide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 1440px){
    .gallery-container{ width: 600vw; }
    .gallery-grid{ gap: 42px 24px; }

    .gallery-grid__info span{
        font-size: 26px;
        line-height: 32px;
    }
}

@media (max-width: 1250px){
    .gallery-container{ width: 700vw; }
    .gallery-grid{ gap: 42px 24px; }

    .gallery-grid__info span{
        font-size: 26px;
        line-height: 32px;
    }

    .year-terminator a{
        font-size: 26px;
        transform: translate(100%,2px);
    }

}    

@media (max-width: 1100px){
    .gallery-container{ width: 800vw; }
}

@media (max-width: 1000px){
    .gallery-grid{ gap: 36px 20px; }
    .gallery-container{ width: 900vw; }

    .gallery-grid__info span{
        font-size: 24px;
        line-height: 28px;
    }
}

@media (max-width: 950px){
    .gallery-container{ width: 1000vw; }
}

@media (max-width: 800px){
    .gallery-grid{ gap: 26px 16px; }
    .gallery-container{ width: 1200vw; }

    .gallery-grid__info span{
        font-size: 20px;
        line-height: 28px;
    }

    .year-terminator a{
        font-size: 22px;
        transform: translate(100%,8px);
    }
}

@media (max-width: 750px){
    .gallery-container{ width: 1300vw; }
}

@media (max-width: 700px){
    .gallery-container{ width: 1400vw; }
}

@media (max-width: 650px){
    .gallery-grid{ gap: 26px 16px; }
    .gallery-section h1{
        font-size: 30px;
        max-width: 250px;
    }
    .gallery-container{ width: 1500vw; }
}

@media (max-width: 600px){
    .gallery-grid{ gap: 26px 16px; }
    .gallery-container{ width: 1600vw; }
}

@media (max-width: 550px){
    .gallery-container{ width: 1700vw; }
}

@media (max-width: 500px){
    .gallery-container{ width: 1800vw; }
}

@media (max-width: 450px){
    .gallery-grid{ gap: 20px 10px; }
    .gallery-grid__info span{
        font-size: 16px;
        line-height: 22px;
    }
    .gallery-container{ width: 2200vw; }
}
