.sponsor-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10vw 3.125rem;
}

.sponsor-main-title{
    font-size: var(--header-font-size-mobile);
    color: var(--dump-white);
}

.sponsor-item{
    display: flex;
    flex-direction: column;
}

.sponsor-item{
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
}

.sponsor-image{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.sponsor-info__heading{
    display: inline-flex;
    flex-direction: column;
    gap: .7rem;
}

.sponsor-info__category{
    width: fit-content;
    padding: 3px 10px 2px 10px;
    margin-top: 25px;
    font-size: 12px;
    font-weight: 800;
    line-height: 18px;
    border-radius: .5rem;
    background-color: var(--dump-cyan);
}

.sponsor-info__name{
    font-size: var(--sponsor-name-font-size);
    font-weight: 800;
    line-height: 2.25rem;
}

.sponsor-info__description{
    margin-top: .5rem;
    font-size: 1rem;
    word-spacing: 0.5px;
    line-height: 1.5rem;
    color: rgba(255,255,255,0.7);
}

.sponsor-logo-link {
    display: inline-block; 
    width: 175px;
    margin: 2rem 0 .5rem;
}

.sponsor-logo-link.engine-link,
.sponsor-logo-link.fortuna-link{
    margin-top: 1.5rem;
}

.sponsor-logo{
    width: 160px;
    height: 140px;   
    margin: auto;
    background-color: white;
}


.ericsson-link .sponsor-logo{ 
    mask: url("/assets/images/sponsor_logos/ericsson-logo.svg") no-repeat center;
    mask-size: contain;
    transform: scale(1.3) translateX(15%);
}

.engine-link .sponsor-logo{ 
    mask: url("/assets/images/sponsor_logos/extension-engine-logo.png") no-repeat center;
    mask-size: contain;
}

.fortuna-link .sponsor-logo{ 
    mask: url("/assets/images/sponsor_logos/fortuna-logo.png") no-repeat center;
    mask-size: contain;
    transform: scale(1.05);
}

.link--animated-underline{
    display: inline-block;
    position: relative;
    z-index: 0;
    text-decoration: none;
}

.link--animated-underline:hover{
    text-decoration: none;
}

.link--animated-underline::after{
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: .6rem;
    width: 100%;
    height: 4px;  
    background-color: #5ec4bc;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

.link--animated-underline:hover::after{
    transform: scaleX(1);
}

@media (min-width:901px){

    .odd-ranked-item .sponsor-info{
        order: -1;
    }
    
    .sponsor-main-title{
        font-size: 3rem;
    }
    .sponsor-item{
        flex-direction: row;
        gap: 3.75rem;
    }

    .sponsor-item>a:first-child{
        width: 75%;
        max-width: 600px; 
        min-width: 350px;  
    }

    .sponsor-info{
        width: 70%;
    }

    .sponsor-info__category{
        padding: 7px 1rem;
        margin-bottom: 1rem;
        font-size: 14px;
    }

    .sponsor-info__description{
        margin-top: 1rem;
    }

    .sponsor-logo-link.ericsson-link,
    .sponsor-logo-link.engine-link{
        margin-bottom: 4.5rem;
}

}
