.sponsor-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10vw 3.125rem;
}

.sponsor-main-title{
    font-size: var(--header-font-size-mobile);
    color: var(--dump-white);
}

.sponsor-item{
    display: flex;
    flex-direction: column;
}

.sponsor-item{
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
}

.sponsor-image{
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.sponsor-info__heading{
    display: inline-flex;
    flex-direction: column;
    gap: .7rem;
}

.sponsor-info__category{
    width: fit-content;
    padding: 3px 10px 1.5px 10px;
    margin-top: 25px;
    font-size: 12px;
    font-weight: 800;
    line-height: 18px;
    border-radius: .5rem;
    background-color: var(--dump-cyan);
}

.sponsor-info__name{
    font-size: var(--sponsor-name-font-size);
    font-weight: 800;
    line-height: 2.25rem;
}

.sponsor-info__description{
    margin-top: .5rem;
    font-size: 1rem;
    word-spacing: 0.5px;
    line-height: 1.5rem;
    color: rgba(255,255,255,0.7);
}

.sponsor-logo-link {
    display: inline-block; 
    margin: 2rem 0 .5rem;
}

.sponsor-logo-link.engine-link,
.sponsor-logo-link.fortuna-link{
    margin-top: 1.5rem;
}

.sponsor-logo{  
    width: 160px;
    height: 140px;
    background-color: white;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
}

.sponsor-logo.ericsson{ 
    mask-image: url("/assets/images/sponsor_logos/ericsson-logo.svg");
    transform: scale(1.3) translateX(15%);
}

.sponsor-logo.engine{ 
    mask-image: url("/assets/images/sponsor_logos/extension-engine-logo.png");
}

.sponsor-logo.fortuna{ 
    mask-image: url("/assets/images/sponsor_logos/fortuna-logo.png");
    transform: scale(1.05);
}

.silver-sponsor-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 4rem;
}

.other-sponsors-main-title{
    margin: 7.5rem 0 2rem;
    text-align: center;
    font-size: 2rem;
    color: var(--dump-cyan);
}

.silver-sponsor-container .sponsor-logo-link{
    animation: fadeInOut 15s infinite;
}

.sponsor-logo.blank{
    mask-image: url("/assets/images/sponsor_logos/blank-logo.png");
}

.sponsor-logo.emovies{
    mask-image: url("/assets/images/sponsor_logos/emovies-logo.png");
    transform: scale(1.2);
}

.sponsor-logo.arsfutura{
    mask-image: url("/assets/images/sponsor_logos/arsfutura-logo.svg");
}

.sponsor-logo.bdr{
    mask-image: url("/assets/images/sponsor_logos/bdr-logo.svg");
    transform: scale(0.6);
}

.sponsor-logo.travelsoft{
    mask-image: url("/assets/images/sponsor_logos/travelsoft-logo.svg");
}

.sponsor-logo.infobip{
    mask-image: url("/assets/images/sponsor_logos/infobip-logo.svg");
    transform: scale(0.8);
}

.sponsor-logo.hrc{
    mask-image: url("/assets/images/sponsor_logos/HRC-logo.svg");
}

.sponsor-logo.profico{
    mask-image: url("/assets/images/sponsor_logos/profico-logo.svg");
    transform: scale(0.8);    
}

.sponsor-logo.hrprodigy{
    mask-image: url("/assets/images/sponsor_logos/hrprodigy-logo.svg");
}

.sponsor-logo.typeqast{
    mask-image: url("/assets/images/sponsor_logos/typeqast-logo.svg");
    transform: translate(5%,3%);
}

.silver-sponsor-container .sponsor-logo-link:nth-child(1){animation-delay: -0s;}
.silver-sponsor-container .sponsor-logo-link:nth-child(2){animation-delay: -2s;}
.silver-sponsor-container .sponsor-logo-link:nth-child(3){animation-delay: -5s;}
.silver-sponsor-container .sponsor-logo-link:nth-child(4){animation-delay: -4s;}
.silver-sponsor-container .sponsor-logo-link:nth-child(5){animation-delay: -3s;}
.silver-sponsor-container .sponsor-logo-link:nth-child(6){animation-delay: -9s;}
.silver-sponsor-container .sponsor-logo-link:nth-child(7){animation-delay: -2s;}
.silver-sponsor-container .sponsor-logo-link:nth-child(8){animation-delay: -5s;}
.silver-sponsor-container .sponsor-logo-link:nth-child(9){animation-delay: -8s;}
.silver-sponsor-container .sponsor-logo-link:nth-child(10){animation-delay: -0s;}

.last-column-container{
    display: contents;
}

.bronze-sponsor-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 2rem;  
}

.sponsor-logo.rimac{
    mask-image: url("/assets/images/sponsor_logos/rimac-logo.svg");
}

.sponsor-logo.undabot{
    mask-image: url("/assets/images/sponsor_logos/undabot-logo.png");
    transform: translateX(20%);
}

.bronze-sponsor-container .sponsor-logo-link{
    animation: fadeInOut 10s infinite;
}

.bronze-sponsor-container .sponsor-logo-link:nth-child(1){animation-delay: -0s;}
.bronze-sponsor-container .sponsor-logo-link:nth-child(2){animation-delay: -5s;}

.prize-sponsor-container,
.organisation-sponsor-container{
    display: flex;
    justify-content: center;
}

.sponsor-logo.fesb{
    mask-image: url("/assets/images/sponsor_logos/fesb-logo.svg"); 
    transform: scale(0.8);
}

.sponsor-logo.futura{
    mask-image: url("/assets/images/sponsor_logos/futurait-logo.svg");
    transform: scale(1.2);
}

.media-sponsor-container,
.friend-sponsor-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 4rem; 
}

.media-sponsor-container .sponsor-logo-link,
.friend-sponsor-container .sponsor-logo-link{
    justify-self: center;
    animation: fadeInOut 10s infinite;
}

.media-sponsor-container .sponsor-logo-link:nth-child(1){animation-delay: -0s;}
.media-sponsor-container .sponsor-logo-link:nth-child(2){animation-delay: -2s;}
.media-sponsor-container .sponsor-logo-link:nth-child(3){animation-delay: -7s;}
.media-sponsor-container .sponsor-logo-link:nth-child(4){animation-delay: -4s;}

.sponsor-logo.bug{
    mask-image: url("/assets/images/sponsor_logos/bug-logo.svg");
}

.sponsor-logo.dalmacija{
    mask-image: url("/assets/images/sponsor_logos/dalmacija-logo.svg");
}

.sponsor-logo.netokracija{
    mask-image: url("/assets/images/sponsor_logos/netokracija-logo.svg");
}

.sponsor-logo.techcity{
    mask-image: url("/assets/images/sponsor_logos/splittechcity-logo.svg");
}

.sponsor-logo.unist{
    mask-image: url("/assets/images/sponsor_logos/unist-logo.svg");    
}

.sponsor-logo.szst{
    mask-image: url("/assets/images/sponsor_logos/szst-logo.svg");    
    transform: scale(0.7);
}

.sponsor-logo.townofsplit{
    mask-image: url("/assets/images/sponsor_logos/townofsplit-logo.svg");    
}

.friend-sponsor-container .sponsor-logo-link:nth-child(1){animation-delay: -1s;}
.friend-sponsor-container .sponsor-logo-link:nth-child(2){animation-delay: -5s;}
.friend-sponsor-container .sponsor-logo-link:nth-child(3){animation-delay: -8s;}
.friend-sponsor-container .sponsor-logo-link:nth-child(4){animation-delay: -4s;}

.link--animated-underline{
    display: inline-block;
    position: relative;
    z-index: 0;
    text-decoration: none;
}

.link--animated-underline:hover{
    text-decoration: none;
}

.link--animated-underline::after{
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: .6rem;
    width: 100%;
    height: 4px;  
    background-color: #5ec4bc;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

.link--animated-underline:hover::after{
    transform: scaleX(1);
}

@media(max-width:600px){

    .other-sponsors-main-title{
        font-size: 1.5rem;
    }

    .sponsor-logo{  
        width: 140px;
        height: 80px;
    }

    .friend-sponsor-container,
    .media-sponsor-container,
    .silver-sponsor-container{
        column-gap: 2rem;
    }

}
@media (min-width:901px){

    .odd-ranked-item .sponsor-info{
        order: -1;
    }
    
    .sponsor-main-title{
        margin-bottom: 3rem;
        font-size: 3rem;
    }
    .sponsor-item{
        flex-direction: row;
        gap: 3.75rem;
    }

    .sponsor-item>a:first-child{
        width: clamp(350px, 50%, 650px);
    }

    .sponsor-info{
        width: clamp(200px, 50%, 470px);
    }

    .sponsor-info__category{
        padding: 7px 1rem 3.5px;
        margin-bottom: 1rem;
        font-size: 14px;
    }

    .sponsor-info__name{
        font-size: 2rem;
    }

    .sponsor-info__description{
        margin-top: 1rem;
    }

    .sponsor-logo-link.ericsson-link,
    .sponsor-logo-link.engine-link{
        margin-bottom: 4.5rem;
    }

    .ericsson-link .sponsor-logo{
        transform: scale(1.3) translateX(13%);
    }
    
    .other-sponsors-main-title{
        font-size: var(--header-font-size-mobile);
    }

    .silver-sponsor-container {
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: auto;            
        justify-items: center;
    }

    .bronze-sponsor-container .sponsor-logo-link:nth-child(1){
        justify-self: end;
    }

    .bronze-sponsor-container .sponsor-logo-link:nth-child(2){
        justify-self: start;
        transform: translateX(25%);
    }

    .sponsor-logo.undabot{
        transform: none;
    }

    .media-sponsor-container,
    .friend-sponsor-container{
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4,1fr);
        column-gap: 4rem; 
    }
}

@media (min-width: 901px) and (max-width: 1100px) {

    .silver-sponsor-container {
        grid-template-columns: repeat(4, 1fr); 
    }

    .last-column-container{
        display: flex;
        justify-content: center;
        grid-column: 1 / -1;
    }
}

@keyframes fadeInOut{
    0%, 20%, 100% {opacity:0;pointer-events: none;}
    10%, 15% {opacity: 1;pointer-events: auto;};
}
