* {
    margin: 0;
    padding: 0;
    background-color: var(--dump-dark);
    font-family: var(--dump-font);
    box-sizing: border-box;
    scroll-behavior: smooth
}

*::before, *::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dump-white);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

button {
    opacity: 85%;
}

button:hover {
    opacity: 100%;
}

.abstract {
    display: none;
}

@media (min-width: 1440px) {
    .abstract {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        object-fit: cover;
        height: auto;
    }
}