* {
    margin: 0;
    padding: 0;
    background-color: var(--dump-dark);
    font-family: var(--dump-font);
    box-sizing: border-box;
    scroll-behavior: smooth
}

*::before, *::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dump-white);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}