:root {
    --dump-white: #ffffff;
    --dump-cyan: #30CEC2;
    --dump-dark: #0A181B;
    
    --dump-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --dump-icon-font: "Material Icons";

    --header-font-size-mobile: 2.5rem;
    --sponsor-name-font-size: 1.5rem;

    --paragraph-transparent: rgba(255,255,255,0.7);
}