@import "/styles/base/reset.css";
@import "/styles/base/variables.css";

@import "/styles/layout/header.css";
@import "/styles/layout/navigation.css";
@import "/styles/layout/conference.css";
@import "/styles/layout/schedule.css";

@import "/styles/components/sponsor_section.css";
@import "/styles/components/notice_section.css";

@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Round|Material+Icons+Sharp|Material+Icons+Two+Tone");